Printing

In [ ]:
print ("ovi")

ovi

comments

In [ ]:
# ovi 
name = " ovi "
print (name)

variable

In [ ]:
age = 21 #int
salary = 117.31 #float
name = "arklab.ai" #str
have = 1j #complex
real = True #bool


print (age , salary , name, have, real)

21 117.31 arklab.ai 1j True