Printing

In [ ]:
print ("ovi")

ovi

comments

In [ ]:
# ovi shahriar
name = " ovi "
print (name)

variable

In [ ]:
age = 21 #int
salary = 117.31 #float
name = "arklab.ai" #str
have = 1j #complex
real = True #bool


print (age , salary , name, have, real)

21 117.31 arklab.ai 1j True

In [1]:
# input
name = input("Enter Your name > ")
print (name)

Enter Your name > ovi
ovi

In [3]:
# Oprations

a = 10
b = 2
add = a + b

sub = a - b

mul = a * b

mod = a % b

paw = a ** b

# printing value

print(add)
print(sub)
print(mul)
print(mod)
print(paw)

12
8
20
0
100

In [5]:
# logical Oparations

a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [4]:
# Asignment Oparations


a = 10
b = a
print(b)
b += a
print(b)
b -= a
print(b)
b *= a
print(b)
b <<= a
print(b)

In [7]:
# If Else
a = int(input("A = "))  # Convert input to an integer
b = a - 3
if a > b:
  print(a, "is Greater")

A = 12
12 is Greater

In [9]:
# for loop

for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [10]:
# while loop

count = 0
while (count < 3):
    count = count + 1
    print("DIU")

DIU
DIU
DIU

In [13]:
# Function

def EvenOdd (num):
  if (num % 2 == 0):
    print ("Even")
  elif (num == 0 ):
    print ("Zero")
  else :
    print ("Odd")

EvenOdd(5)

Odd